<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">



    <!-- bgcolor="#8bc34a" -->

    <!-- <img src= "{% static 'Logo.png' % }" alt="VacunAssist" > -->


</html>

  <head>

<style>


</style>

    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link type='text/css' href="{% static 'css/estilo.css' %}" rel="stylesheet" />

    <title></title>
    <nav>
        <div class="nav-wrapper  light-green">
          <a href="/" class="brand-logo">
            <img src="{% static 'imagenes/Logo_VacunAssist_recortado.png' %}" class="img-fluid" width="100" height="66">
          <div class="right"  style="margin: 9px 0px 0px 10px">
            <h6>Sistema de turnos para vacunatorios de la Ciudad de La Plata</h6>
            </div>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          </a>
          <ul id="nav-mobile" class="right hide-on-med">
            <li><a href="/inicio_admin/">Volver</a></li>
          </ul>
        </div>
      </nav>

    <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<body>
  <!-- <div class="container py-4">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-12">
        <h2>Listado Vacunadores</h2> -->

            <div class="container py4">


                <div class="row">


                     <div class="col-md-4">
                       <h3>Solicitudes de turnos FA</h3>
                       <div class="table-responsive py-2">
                         <table class="table table-striped">



                           <thead>
                             <tr>
                              <th>#</th>
                               <th>DNI</th>
                               <th>E-mail </th>
                               <th colspan="2">Opciones</th>

                             </tr>
                           </thead>

                           <tbody>





                             {% for c in turnos %}
                             <tr>

                               <td>{{forloop.counter}}</td>
                               <td>{{c.dni}} </td>
                               <td> {{c.email}}</td>



                               <td><a href="/empezarAsignacionTurno/{{c.dni}}" class="btn btn-block btn-info" style="background:#72BC53">Asignar</a></td>

                               <td><a href="/eliminarSolicitud/{{c.dni}}" class="btn btn-block btn-danger" style="background:#FD2525" >Rechazar</a></td>



                             </tr>
                             {% endfor%}



                         </table>
                         {% if vacio == 1 %}
                         <p>LISTADO VACIO </p>
                         {% endif %}



                       </div>

                     </div>
                     {% if valor == 1 %}

                         <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                           <h2> Elegir Fecha</h2>
                           <div class="card">
                             <div class="card-body">
                               <form  action="/AsignarTurno/" method="post">{% csrf_token %}
                                 <div class="form-group">
                                  <input type="datetime-local" id="fechaesperada" culture="es-ES" name="fechaesperada" min="2022-07-18T08:00:00" required >
                                 </div>

                                 <div class="form-group">


                                    <input type="int"  id="dni" name="dni" clas="form-control" minlength="1" value="{{asignacionDNI}}" clas="form-control" placeholder="DNI"  minlength="8" maxlength="8" readonly required >

                                 </div>

                                 <div class="form-group">
                                   <button type="submit" class="btn btn-success btn-block" text-white>Asignar Turno</button>

                                 </div>



                               </form>

                             </div>

                           </div>
                         </div>

                     {% endif %}




                </div>

             </div>


        <!-- <script type = "text/javascript">
             M.toast({html: 'fdfd',
             classes: 'red rounded',
             displayLength:2000,
             })

       </script> -->


       {% if messages %}
         {% for message in messages %}
         <!-- {% if message.tags == 'success' %}
         <script type = "text/javascript">
         M.toast({html: '{{message}}',
         classes: 'green rounded',
         displayLength:2000,
       })

     </script>
     {% endif %} -->

       {% if message.tags == 'error' %}
         <script type = "text/javascript">
              M.toast({html: '{{message}}',
              classes: 'red rounded',
              displayLength:2000,
              })

        </script>
     {% endif %}





   <!-- <script type = "text/javascript">
   M.toast({html: '{{message}}',
   classes: 'red rounded',
   displayLength:2000,
 })

 </script> -->

        {% endfor %}



   {% endif %}

   <script src="{% static 'js/noback.js' %}"></script>
   <script src="{% static 'js/noBack.js' %}"></script>
   <script src="{% static 'js/noback.js' %}"></script>
   <script src="{% static 'js/noBack.js' %}"></script>

  </body>
</html>

<!-- class Vacuna_Fiebre_Am(models.Model):
    vac_fa_nombre= models.CharField(max_length=100)
    stock_vac_fa=models.IntegerField() -->


<!--

    <div class="container py4">


        <div class="row">


             <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
               <h2>Solicitudes de turnos FA</h2>
               <div class="table-responsive py-2">
                 <table class="table table-striped">



                   <thead>
                     <tr>
                      <th>#</th>
                       <th>DNI</th>
                       <th>E-mail </th>
                       <th colspan="2">Opciones</th>

                     </tr>
                   </thead>
                   <tbody>
                     {% for c in turnos %}
                     <tr>

                       <td>{{forloop.counter}}</td>
                       <td>{{c.dni}} </td>
                       <td> {{c.email}}</td>



                       <td><a href="/empezarAsignacionTurno/{{c.dni}}" class="btn btn-block btn-info">Asignar</a></td>

                       <td><a href="/eliminarSolicitud/{{c.dni}}" class="btn btn-block btn-danger">Rechazar</a></td>



                     </tr>
                     {% endfor%}



                 </table>



               </div>

             </div>
             {% if valor == 1 %}

                 <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                   <h2> Elegir Fecha</h2>
                   <div class="card">
                     <div class="card-body">
                       <form  action="/AsignarTurno/" method="post">{% csrf_token %}
                         <div class="form-group">
                           <input type="datetime-local" id="fechaesperada" name="fechaesperada" min="2022-01-01" max="2022-12-31" required >
                         </div>

                         <div class="form-group">


                            <input type="int"  id="dni" name="dni" clas="form-control" minlength="1" value="{{asignacionDNI}}" clas="form-control" placeholder="DNI"  minlength="8" maxlength="8" readonly required >

                         </div>

                         <div class="form-group">
                           <button type="submit" class="btn btn-success btn-block" text-white>Asignar Turno</button>

                         </div>



                       </form>

                     </div>

                   </div>
                 </div>

             {% endif %}




        </div>

     </div> -->
