<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link type='text/css' href="{% static 'css/estilo.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link  href="fontawesone/fontawesome-free-6.1.1-web/css/all.min.css" rel="stylesheet" >
    <title></title>



      <!-- STATICFILES_DIRS = (os.path.join(BASE_DIR, 'main/static'),)  light-green-->




  </head>
  <!-- bgcolor="#8bc34a" -->
  <body bgcolor="96cd7a" >
  <!-- <div class="container"> -->
    <div class="row">
      <div class=" borde color4 col-sm-24">
        <nav>
            <div class="nav-wrapper  light-green">
              <a href="#" class="brand-logo"></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login"><i class="fa-solid fa-user" style="color:#FFFFFF; width:25; height:25;"></i></i> Paciente</a></li>
                <li><a href="/registro"><i class="fa-solid fa-user-tie"  style="color:#FFFFFF; width:25; height:25;"></i></i> Administrador</a></li>
                <li><a href="collapsible.html"><i class="fa-solid fa-user-nurse" ></i></i> Vacunador</a></li>
                <li><a href="collapsible.html"> vacunador</a></li>
              </ul>
            </div>
          </nav>

      </div>

    </div>

  <!-- </div> -->



  <!-- <img src= "{% static 'Logo.png' % }" alt="VacunAssist" > -->
  <div class="container">
  <!-- Page Content goes here -->

  <div class= "caja-verde">
   <img src="{% static 'imagenes/Logo.png' %}" alt="fondo" >
  </div>
  </div>

    <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/brands.min.js" integrity="sha512-KGeeDLRAGeJZYsq3J/4s/X6eZyaxTAlScSN2b7z/H/r2MBZ3pAg4T52SzavEJa2Uthmll5HMhvRaLeuxT76EVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>



</html>
