<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<body bgcolor="96cd7a" >
    <br>
    <form name="formulario" method="post" style='text-align:center'>
      <!-- Campo de entrada de usuario -->
      <font face="arial"><strong>DNI</strong></font>
      <br>
      <input type="id" name="dni" placeholder="12345678" />
      <!-- Campo de entrada de password -->
      <br>
      <font face="arial"><strong>Contraseña</strong></font>
      <br>
      <input type="password" name="pass" placeholder="Contraseña" />
      <!-- Campo oculto: Este campo no se verá en el navegador -->
      <input type="hidden" name="informacion" value="72625" />
      <br>
      <br>
      <!-- Botón de envío del formulario -->
      <input type="submit" value="Ingresar" />
    </form>

</html>