<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>




  <body>

    <img src=" imagenes/Logo_VacunAssist_recortado.png">
    <center><h1>  VacunAssist </h1></center>
         <center><h2> Comprobante de vacunacion  </h2></center>


    <!-- {% if 5 == 4 %} -->


<!--
    {% endif %} -->


<div class="row">
  <table cellspacing="2" cellpadding="2" border="1">
         <thead>
           <th>nombre</th>
           <th>apellido</th>
           <th>vacuna</th>

           <th>fecha de aplicacion</th>
           <th>lugar de aplicacion</th>
         </thead>

         <tbody>




                        <td>{{nombre}}</td>
                        <td>{{apellido}}</td>

                        <td>fiebre amarilla </td>

                        <!-- <td><a href="edicionVacunadores/{{"vfa"}}" class="btn btn-block btn-info">Editarw</a></td> -->
                        <td>{{turnoFA}}</td>
                        <!-- </td><a href="edicionVacunadores/{{"vfa"}}" class="btn btn-block btn-info">Editarw</a></td> -->
                        <td>{{zona}}</td>
             <!-- <td><a href="/eliminar_Admin/{{c.vacunador_dni}}" class="btn btn-block btn-danger">Eliminar</a></td> -->


           </tr>


         </tbody>


       </table>


</div>




  </body>
<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <center><footer   style="width:100%; margin-left: 0px;"  >

    <address>

      Jhonny Doe<br>

      jhonnydoe5468@mypc.com

    </address>

    <ul>

      <li><a href="/">Home</a></li>

      <li><a href="/food">Food</a></li>

      <li><a href="/drinks">Drinks</a></li>

    </ul>

  </footer> </center> -->
</html>
