<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>



  <body>
    <img src="{{icon}}" class="img-invoice">
    <center><h1>  VacunAssist </h1></center>
         <center><h2> Comprobante de vacunacion  </h2></center>


    <!-- {% if 5 == 4 %} -->


<!--
    {% endif %} -->


<div class="row">
  <table cellspacing="2" cellpadding="2" border="1">
         <thead>
           <th>nombre</th>
           <th>apellido</th>
           <th>vacuna</th>
           <th> dosis </th>
           <th>fecha de apliacion</th>
           <th>lugar de apliacion</th>
         </thead>

         <tbody>




                        <td>Ariana</td>
                        <td>Archi</td>

                        <td>Covid 19</td>
                        <td>Primera</td>
                        <!-- <td><a href="edicionVacunadores/{{"vfa"}}" class="btn btn-block btn-info">Editarw</a></td> -->
                        <td>10/05/2021</td>
                        <!-- </td><a href="edicionVacunadores/{{"vfa"}}" class="btn btn-block btn-info">Editarw</a></td> -->
                        <td>cementerio municipal</td>
             <!-- <td><a href="/eliminar_Admin/{{c.vacunador_dni}}" class="btn btn-block btn-danger">Eliminar</a></td> -->


           </tr>


         </tbody>


       </table>


</div>
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="row">
  <table cellspacing="2" cellpadding="2" border="1">
         <thead>
           <th>nombre</th>
           <th>apellido</th>
           <th>vacuna</th>
           <th> dosis </th>
           <th>fecha de apliacion</th>
           <th>lugar de apliacion</th>
         </thead>

         <tbody>



             <td></td>
             <td></td>

             <td></td>
             <td></td>
             <!-- <td><a href="edicionVacunadores/{{"vfa"}}" class="btn btn-block btn-info">Editarw</a></td> -->
             <td></td>
             <!-- </td><a href="edicionVacunadores/{{"vfa"}}" class="btn btn-block btn-info">Editarw</a></td> -->
             <td></td>

             <!-- <td><a href="/eliminar_Admin/{{c.vacunador_dni}}" class="btn btn-block btn-danger">Eliminar</a></td> -->


           </tr>


         </tbody>


       </table>
</div>




  </body>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <center><footer   style="width:100%; margin-left: 0px;"  >

    <address>

      Jhonny Doe<br>

      jhonnydoe5468@mypc.com

    </address>

    <ul>

      <li><a href="/">Home</a></li>

      <li><a href="/food">Food</a></li>

      <li><a href="/drinks">Drinks</a></li>

    </ul>

  </footer> </center>
</html>
