<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">


    
    <!-- bgcolor="#8bc34a" -->

    <!-- <img src= "{% static 'Logo.png' % }" alt="VacunAssist" > -->


</html>

<style>
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #888987;
    border-color:#86D03A;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 20px 0px;
    cursor: pointer;
  }

fieldset {
  background-color: #eeeeee;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  border: 2px groove (internal value);
}

legend {
  background-color: gray;
}

input {
  margin: 5px;
}
</style>


  <head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link type='text/css' href="{% static 'css/estilo.css' %}" rel="stylesheet" />

    <title></title>
    <nav>
        <div class="nav-wrapper  light-green">
           <a href="/" class="brand-logo">
            <img src="{% static 'imagenes/Logo_VacunAssist_recortado.png' %}" class="img-fluid" width="100" height="66">
          <div class="right"  style="margin: 9px 0px 0px 10px">
            <h6>Sistema de turnos para vacunatorios de la Ciudad de La Plata</h6>
            </div>
          </a>
          <div class="right">
            <a href="#" class="brand-logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="javascript: history.go(-1)">Volver</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- STATICFILES_DIRS = (os.path.join(BASE_DIR, 'main/static'),)  light-green-->

  </head>

  <!-- bgcolor="#8bc34a" -->
  <body bgcolor="FFFFFF" >
  
  </div>
</table>
<br>
<form  style="margin: 0 auto;" method="POST">
  <fieldset >
    {% csrf_token %}
    <legend style="color:white; padding: 10px 15px">Nuevo Vacunador</legend>
     <div class="row">
      <form class="col s6">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Nombre" id="nombre" type="text" class="validate" name="nombre">
            <label for="nombre">Nombre</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Apellido" id="apellido" type="text" class="validate" name="apellido">
            <label for="apellido">Apellido</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Email" id="email" type="email" class="validate" name="email">
            <label >Email</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="DNI" id="dni" type="text" class="validate" name="dni">
            <label for="dni">DNI</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label for="birthday">Fecha de nacimiento:</label>
        <input placeholder type="date" id="birthday" name="birthday" class="validate">
          </div>
        <div class="row">
          <div class="input-field col s6">

            <select id= "vacunatorio" class="browser-default"   name="vacunatorio">
              <option value="" disabled selected>Elija su vacunatorio mas cercano</option>
              <option value="Cementerio Municipal">Cementerio Municipal</option>
              <option value="Terminal de Omnibús">Terminal de Omnibús</option>
              <option value="Municipalidad">Municipalidad</option>
            </select>
           </div>
       </div>
       <div class="row">
        <div class="input-field col s6">
         <input placeholder="Contraseña" id="pasword" type="password" class="validate" name="contraseña">
         <label for="dni">Contraseña</label>
        </div>
      </div>
      </form>
    </div>
        <!--  <input type="checkbox" name="vac_gripe" value="gripe">
          <label for="información"> Vacuna de la gripe</label><br>
          <input type="checkbox" name="vac_fa" value="fiebre ama">
          <label for="información"> vacuna de la fiebre amarilla </label><br>
          <input type="checkbox" name="vac_covid" value="covid1" checked>
          <label for="información"> vacuna del covid 1era dosis</label><br>
          <input type="checkbox" name="vac_covid" value="covid1" checked>
          <label for="información"> vacuna del covid 2da dosis </label><br> -->
          <button  type="button" class="btn" onclick="openPopup()" > Registrar Vacunador </button>
          <div class="popup" id="popup">
            <img src="{% static 'imagenes/tick.png' %}">
            <h2> Registro Exitoso </h2>
            <h5> Hemos generado un código único, el cual debe ser guardado para poder iniciar sesión </h5>
            <h5> Codigo Único: {{codigo}} </h5>
            <p> Gracias por utilizar nuestro sistema de turnos </p>
            <button type="submit" onclick="closePopup()"> Ok </button>
          </div>
   </fieldset>
  </form>

  <script> 
    let popup = document.getElementById("popup")

    function openPopup() {
      popup.classList.add("open-popup")
    }
    function closePopup() {
      popup.classList.remove("open-popup")
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  </body>
</html>