<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <style>
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }
    </style>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link type='text/css' href="{% static 'css/estilo.css' %}" rel="stylesheet" />

    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <nav>
        <div class="nav-wrapper  light-green">
          <a href="/" class="brand-logo">
            <img src="{% static 'imagenes/Logo_VacunAssist_recortado.png' %}" class="img-fluid" width="100" height="66">
          <div class="right"  style="margin: 9px 0px 0px 10px">
            <h6>Sistema de turnos para vacunatorios de la Ciudad de La Plata</h6>
            </div>
          </a>
          <ul id="nav-mobile" class="right hide-on-med">
            <li><a href="/login/">Volver</a></li>
          </ul>
        </div>
      </nav>


      <body>

<div class="container py4">
    <div class="row justify-content-center align-items-center">

        <h2> Registro </h2>
          <div class="card" >
            <div class="card-body">
              <form  action="/registroPaciente/" method="post">{% csrf_token %}

                <div class="input-field col s12 m6" style="margin: 0px 0px 0px 0px">
                <div class="form-group">

                  <label >  <span class="black-text text-darken-2"> Nombre  </span></label>
                  <input type="text" id="nombre" value="{{nombre}}" name="nombre" clas="form-control" placeholder="" minlength="3" maxlength="20" required Readonly >
                </div>

                <div class="form-group">
                  <label >  <span class="black-text text-darken-2"> Apellido  </span></label>
                  <input type="text" id="apellido" name="apellido" clas="form-control" value="{{apellido}}" placeholder="" minlength="1" maxlength="50" required Readonly >
                </div>

                <div class="form-group">
                  <label >  <span class="black-text text-darken-2"> Vacunatorio  </span></label>
                  <select  id= "vacunatorio" class="browser-default" autofocus   name="vacunatorio">
                    <option value="" disabled selected>Elija su vacunatorio mas cercano</option>
                    <option value="Cementerio Municipal">Cementerio Municipal</option>
                    <option value="Terminal de Omnibús">Terminal de Omnibús</option>
                    <option value="Municipalidad">Municipalidad</option>
                  </select>
                </div>
                <br>
                <div class="form-group">
                  <label >  <span class="black-text text-darken-2"> DNI  </span></label>
                   <input type="number" id="dni" value="{{dni}}" name="dni" clas="form-control" placeholder=""  minlength="8" maxlength="8" required Readonly>
                </div>

                 <div class="form-group">
                  <label >  <span class="black-text text-darken-2"> Contraseña  </span></label>
                   <input type="text" id="Contraseña" name="Contraseña" clas="form-control" placeholder="contraseña"  minlength="4" required>
                </div>

                 <div class="form-group">
                  <label >  <span class="black-text text-darken-2"> Email  </span></label>
                   <input type="text" id="email" name="email" clas="form-control" placeholder="" value="{{mail}}"  maxlength="50" required>
                 </div>

                 <div class="form-group">
                  <label >  <span class="black-text text-darken-2"> Fecha de nacimiento  </span></label>
                   <input input type="date" id="fechaesperada" name="fechaesperada" max="{{fecha_actual}}" >
                 </div>
                </div>
                <div class="input-field col s12 m6" required>
                  <h3> Información sanitaria </h3>

                  <div class="form-group">
                    <label >  <span class="black-text text-darken-2"> ¿Este año se vacunó contra la gripe?  </span></label>
                    <select id= "opcVacunaGripe" class="browser-default" onchange="activarcaja1()"  name="opcVacunaGripe" value=1 Readonly required>
                      {% if vac_gripe  == 1 %}
                      <option value=1 selected >Si</option>
                      {% else %}
                      <option value="" disabled selected>Elija una opción </option>
                      <option value=2>No</option>
                      <option value=1>Si</option>
                      {% endif %}
                    </select>
                    <input input type="text" id="c"  value="Fecha de Aplicacion" name="f" disabled="" readonly >

                   <input input type="date" id="caja1" name="fechaesperada" max="{{fecha_actual}}" disabled="" >
                   <script type="text/javascript">
                       function activarcaja1(){
                         if(opcVacunaGripe.value==1){
                           document.getElementById('caja1').disabled=false
                           document.getElementById('c').disabled=false


                         }
                         if(opcVacunaGripe.value==2){
                           document.getElementById('caja1').disabled=true
                            document.getElementById('c').disabled=true

                         }

                       }

                   </script>
                  </div>
                  <div class="form-group">
                    <label >  <span class="black-text text-darken-2"> ¿Está vacunado contra la fiebre amarilla?  </span></label>
                    <select id= "opcVacunaFA" class="browser-default"   name="opcVacunaFA" required>
                      {% if vac_amarilla  == 1 %}
                      <option value=1 selected >Si</option>
                      {% else %}
                      <option value="" disabled selected>Elija una opción </option>
                      <option value=2>No</option>
                      <option value=1>Si</option>
                      {% endif %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label >  <span class="black-text text-darken-2"> ¿Ya tiene la 1ra dosis de la vacuna contra el covid?  </span></label>
                    <select id= "opcVacunaCovidP1" class="browser-default" onchange="activarcaja2()"  name="opcVacunaCovidP1" required>
                      {% if vac_covid1  == 1 %}
                      <option value=1 selected >Si</option>
                      {% else %}
                      <option value="" disabled selected>Elija una opción </option>
                      <option value=2>No</option>
                      <option value=1>Si</option>
                      {% endif %}
                    </select>

                     <input input type="text" id="c2"  value="Fecha de Aplicacion" name="f" disabled="" readonly >

                    <input input type="date" id="caja2" name="fechaesperada" max="{{fecha_actual}}" disabled="" >
                    <script type="text/javascript">
                        function activarcaja2(){
                          if(opcVacunaCovidP1.value==1){
                            document.getElementById('caja2').disabled=false
                            document.getElementById('c2').disabled=false


                          }
                          if(opcVacunaCovidP1.value==2){
                            document.getElementById('caja2').disabled=true
                            document.getElementById('c2').disabled=true

                          }

                        }

                    </script>
                  </div>
                  <div class="form-group">
                   <label >  <span class="black-text text-darken-2">¿Ya tiene la 2da dosis de la vacuna contra el covid? </span> </label>
                    <select  id= "opcVacunaCovidP2" class="browser-default" onchange="activarcaja3()"  name="opcVacunaCovidP2" required>
                      {% if vac_covid2  == 1 %}
                      <option value=1 selected >Si</option>
                      {% else %}
                      <option value="" disabled selected>Elija una opción </option>
                      <option value=2>No</option>
                      <option value=1>Si</option>
                      {% endif %}
                    </select>


                                   <input input type="text" id="c3"  value="Fecha de Aplicacion" name="f" disabled="" readonly >

                                  <input input type="date" id="caja3" name="fechaesperada" max="{{fecha_actual}}" disabled="" >
                                  <script type="text/javascript">
                                      function activarcaja3(){
                                        if(opcVacunaCovidP2.value==1){
                                          document.getElementById('caja3').disabled=false
                                          document.getElementById('c3').disabled=false


                                        }
                                        if(opcVacunaCovidP2.value==2){
                                          document.getElementById('caja3').disabled=true
                                          document.getElementById('c3').disabled=true

                                        }

                                      }

                                  </script>

                  </div>
                </div>
         <!--       <div class="input-field col s12 m4" >
                  <h3> Enfermedades </h3>
                  <div class="Form-group">
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in"  />
                      <span> Enfermedad Pulmonar Crónica</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in"  />
                      <span> Diabetes</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in"  />
                      <span> Obesidad</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span> Enfermedad Renal Crónica</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in"  />
                      <span> Enfermedades respiratorias</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in"  />
                      <span> Enfermedades cardíacas</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in"  />
                      <span> Obesidad (con índice de masa corporal mayor a 40 Kg/m2)</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in"  />
                      <span> Enfermedad renal crónica en diálisis o con expectativas de ingresar a diálisis en los siguientes seis meses
                      </span>
                    </label>
                  </p>
                  <p>
                  <label>
                    <input type="checkbox" class="filled-in"  />
                    <span> Enfermedad Cardiovascular</span>
                  </label>
                </p>
                  </div> -->

                <div class="form-group">
                  <button type="button" class="btn btn-success btn-block text-white" onclick="openPopup()" > Registrarse </button>
                  <div class="popup" id="popup">
                    <img src="{% static 'imagenes/tick.png' %}">
                    <h2> Registro Exitoso </h2>
                    <h5> Hemos enviado un mail a su casilla de correo y generamos un código único que debe ser guardado para poder iniciar sesión </h5>
                    <p> Gracias por utilizar nuestro sistema de turnos </p>
                    <button type="submit" onclick="closePopup()"> Ok </button>
                  </div>
                </div>

              </div>
          </div>
              </form>



          </div>
        </div>
   </div>
</div>



<script>
 let popup = document.getElementById("popup")

 function openPopup() {
   popup.classList.add("open-popup")
 }
 function closePopup() {
   popup.classList.remove("open-popup")
 }
</script>


<script src="{% static 'js/noback.js' %}"></script>
<script src="{% static 'js/noBack.js' %}"></script>
<script src="{% static 'js/noback.js' %}"></script>
<script src="{% static 'js/noBack.js' %}"></script>




</body>
</html>
