<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">



    <!-- bgcolor="#8bc34a" -->

    <!-- <img src= "{% static 'Logo.png' % }" alt="VacunAssist" > -->


</html>

  <head>

<style>
  input[type=button], input[type=submit] {
    background-color: #888987;
    border-color:#86D03A;
    border-radius: 10px;
    color: white;
    padding: 7px 15px;
    text-decoration: none;
    margin: 2px 0px;
    cursor: pointer;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }

input[type=number] { -moz-appearance:textfield; }
</style>

    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link type='text/css' href="{% static 'css/estilo.css' %}" rel="stylesheet" />

    <title></title>
    <nav>
        <div class="nav-wrapper  light-green">
          <div class="left"  style="margin: 9px 0px 0px 10px">
            <h6>Sistema de turnos para vacunatorios de la Ciudad de La Plata</h6>
            </div>
          <div class="right">
            <a href="#" class="brand-logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/login/">  Volver </a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- STATICFILES_DIRS = (os.path.join(BASE_DIR, 'main/static'),)  light-green-->

  </head>

  <!-- bgcolor="#8bc34a" -->
  <body bgcolor="FFFFFF" >

    <form class="form"  method="post">

      <fieldset >
        {% csrf_token %}

         <div class="row">
      {% csrf_token %}
      {{ form.as_p}}
      <label for="apellido"> <span class="black-text text-darken-2"> Apellido </span></label>
      <input  type="text" class="validate" name="apellido" id='apellido'  >



      <button type="submit" id ="submit">Registrarse</button>


      </fieldset>
    

      </div>

    </form>



       {% if messages %}
         {% for message in messages %}
         <!-- {% if message.tags == 'success' %}
         <script type = "text/javascript">
         M.toast({html: '{{message}}',
         classes: 'green rounded',
         displayLength:2000,
       })

     </script>
     {% endif %} -->

       {% if message.tags == 'error' %}
         <script type = "text/javascript">
              M.toast({html: '{{message}}',
              classes: 'red rounded',
              displayLength:2000,
              })

        </script>
     {% endif %}





   <!-- <script type = "text/javascript">
   M.toast({html: '{{message}}',
   classes: 'red rounded',
   displayLength:2000,
 })

 </script> -->

        {% endfor %}



   {% endif %}

   <script src="{% static 'js/noback.js' %}"></script>
   <script src="{% static 'js/noBack.js' %}"></script>
   <script src="{% static 'js/noback.js' %}"></script>
   <script src="{% static 'js/noBack.js' %}"></script>

  </body>
</html>
