<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

    <!-- <img src= "{% static 'Logo.png' % }" alt="VacunAssist" > -->


</html>

  <head>

    <style>
      input[type=button], input[type=submit] {
        background-color: #888987;
        border-color:#86D03A;
        border-radius: 10px;
        color: white;
        padding: 7px 15px;
        text-decoration: none;
        margin: 2px 0px;
        cursor: pointer;
      }
    </style>

    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link type='text/css' href="{% static 'css/estilo.css' %}" rel="stylesheet" />

    <title></title>
    <nav>
        <script type = "text/javascript">
            M.toast({html: 'fgf',
            classes: 'red rounded',
            displayLength:2000,
          })

       </script>
        <div class="nav-wrapper  light-green">
          <div class="left"  style="margin: 9px 0px 0px 10px">
          <h6>Sistema de turnos para vacunatorios de la Ciudad de La Plata</h6>
          </div>
          <div class="right"
          <a href="#" class="brand-logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login/">Volver</a></li>
          </ul>
        </div>
        </div>
      </nav>

      <!-- STATICFILES_DIRS = (os.path.join(BASE_DIR, 'main/static'),)  light-green-->

  </head>
  <!-- bgcolor="#8bc34a" -->
  <body bgcolor="FFFFFF" >

  <!-- <img src= "{% static 'Logo.png' % }" alt="VacunAssist" > -->

  <div class= "left">
   <img src="{% static 'imagenes/Logo.png' %}"  width="570" height="549" style="margin: 2px 1px">
  </div>

    <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <div class="right"  align="center"  style="border: 2px solid #96D041; background:#BCBCBC; margin: 100px 110px;">
          <font face="Lucida Bright" ><h5>Verificar Código</h5></font>
          <!-- Campo de entrada de password -->
          <hr>
          <div class="center" style="background:#BCBCBC; margin: 10px 100px">
            <form name='formulario' action ="/compararCodigo/" method='GET' style='text-align:center'>
              <font face='arial'><h6><strong>Código Único</strong></h6></font>
              <input type='password' placeholder="1234" name='pass' style="background-color:white;" />
              <!-- Campo oculto: Este campo no se verá en el navegador -->
              <br>
              <!-- Botón de envío del formulario -->
              <h6><input type='submit' value='Verificar'/></h6>
              <hr>
              <h7>¿Olvidó su código? <a href="/recuperar_codigo/" style="color:#006BB8">Clickee aqui</a> </h7>
            </form>
          </div>
        </div>
        {% if messages %}
          {% for message in messages %}
          <!-- {% if message.tags == 'success' %}
          <script type = "text/javascript">
          M.toast({html: '{{message}}',
          classes: 'green rounded',
          displayLength:2000,
        })

      </script>
      {% endif %} -->

        {% if message.tags == 'error' %}
          <script type = "text/javascript">
               M.toast({html: '{{message}}',
               classes: 'red rounded',
               displayLength:2000,
               })

         </script>
      {% endif %}



    <!-- <script type = "text/javascript">
    M.toast({html: '{{message}}',
    classes: 'red rounded',
    displayLength:2000,
  })

  </script> -->

         {% endfor %}



    {% endif %}
        <!-- <script type = "text/javascript">
            M.toast({html: 'fgf',
            classes: 'red rounded',
            displayLength:2000,
          })

       </script> -->
  </body>
</html>
